service: gcp-cloud-users
plugins:
  - serverless-python-requirements
custom:
  pythonRequirements:
    dockerizePip: false
    invalidateCaches: true
    useStaticCache: false
    strip: false
    layer: true
    slim: false
provider:
  name: aws
  stage: prod
  region: us-west-2
  runtime: python3.9
  environment:
    CIS_ENVIRONMENT: production
    CIS_S3_BUCKET_NAME: cis-ldap2s3-publisher-data
    CIS_LDAP_JSON_FILE: ldap-full-profile.json.xz
    LDAP_ASSUME_ROLE_ARN: arn:aws:iam::371522382791:role/cis-gsuite-users-driver
  iamRoleStatements:
    - Effect: Allow
      Action:
        - "sts:AssumeRole"
      Resource:
        - arn:aws:iam::371522382791:role/cis-gsuite-users-driver
    - Effect: Allow
      Action:
        - "ssm:GetParameterHistory"
        - "ssm:GetParametersByPath"
        - "ssm:GetParameters"
        - "ssm:GetParameter"
      Resource:
        - arn:aws:ssm:us-west-2:320464205386:parameter/iam/gcp/cloud-account-driver
    - Effect: Allow
      Action:
        - "kms:Decrypt"
      Resource:
        - arn:aws:kms:us-west-2:320464205386:key/ef00015d-739b-456d-a92f-482712af4f32
functions:
  driver:
    handler: driver.handle
    layers:
      - Ref: PythonRequirementsLambdaLayer
    description: Periodically reads users from LDAP and creates them in infra GCP
    memorySize: 1024
    timeout: 900
    events:
      - schedule:
          name: gcp-driver
          description: 'True up account with ldap every couple of hours.'
          rate: rate(2 hours)
